.text-color {
  color: var(--yellow-45);
}

.bg-color {
  background-color: var(--yellow-45);
}

.reset-input {
  border-radius: 5px;
}

.reset-input::placeholder {
  font-size: 20px;
  position: absolute;
  top: 30%;
  /* transform: translateY(-50%); */
}

.position {
  position: relative;
}
